<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christian Gracia API /util</title>

    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
      }
      a {
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
      "
    >
      <div style="margin-top: 60px;">
        <h1 style="color: #d4af37;">/util</h1>
      </div>

      <div style="margin-top: 15px; margin-bottom: 15px;">
        <h3 style="font-weight: bold;">
          Public Routes
        </h3>
      </div>

      <div style="width: 240px; margin: 0 auto; text-align: left;">
        <div>
          <a href="/util/show-file?file=src/classes/spotify.ts&cssFile=code-snippet.css" style="margin-top: 10px;">/show-file</a>
        </div>
      </div>

      <div style="margin-top: 30px;">
        <p style="color: #d4af37;"><a href="/">Home</a></p>
      </div>

      <div style="margin-top: 20px;">
        <p style="color: #d4af37;">
          created by christian gracia
        </p>
      </div>
    </div>
  </body>
</html>
